{% extends 'base.html' %}

{% block main %}
<h1>Banco Horas</h1>
<a class="btn btn-info" href="{% url 'create_hora_extra' %}">Novo</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Motivo</th>
        <th scope="col">Tempo</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
     {% for registro_re in object_list %}
     <tr>
        <td>{{registro_re.id}}</td>
        <td>{{registro_re.motivo}}</td>
        <td>{{registro_re.horas}}</td>
        <td>
            <a href="{% url 'delete_hora_extra' registro_re.id %}"><i style="color:red" class="bi bi-trash"></i></a>
            <a href="{% url 'update_hora_extra' registro_re.id %}"><i class="bi bi-pencil"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}